<header>
    <h1>Finance Tracker</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/expenses">Expenses</a></li>
        <li><a href="/budget">Budget</a></li>
        <li><a href="/savings">Savings</a></li>
      </ul>
    </nav>
  </header>
  